@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-wedding-white: #FAF9F6;
  --color-wedding-green: #a3b18a;
  --text-color-default: black;
}

:root {
  
  --default-font-family: "Playfair Display", serif;
}

html {
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
}

input, textarea {
  color: inherit;
}
